<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" sizes="16x16" href="images/logo.jpg">
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <% if(message!=''){%>
    <div class="fixed-top alert alert-danger alert-dismissible alert-login">
        <%= message %>
    </div>
    <% } %>
    <div class="container form-login">
      <form>
          <div class="card card--login">
              <div class="card__body">
                 <h3>Đăng nhập</h3>
                  <input type="text" class="form-control thinking" id="usr" placeholder="Username">
                  <input type="text" class="form-control thinking" id="usr" placeholder="Password">
                  <input type="submit" class="btn btn-primary" value="Đăng nhập">
                  <a href="/auth/google" class="google btn btn-google"><i class="fa fa-google fa-fw">
                    </i> Đăng nhập với mail sinh viên
                  </a>
              </div>
          </div>
       </form>
    </div>
    <script src="javascripts/main.js"></script>
</body>
</html>
