<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16" href="images/logo.jpg">
    <title>Social</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>
    <div id="main-wrapper">
        <%- include('./layouts/nav.ejs') %>
        
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <!-- <div class="fixed-top alert alert-primary alert-dismissible content-body__alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <i class="fas fa-bell"></i> 
                        Khoa CNTT vừa đăng thông báo mới: <a href="#">Kết quả chấm phúc khảo môn Phương pháp lập trình</a>
                    </div> -->
                    <div class="card card--background">
                        <div class="card__body card__body--avt">
                            <img class="mr-2" src="<%= users.pic %>" width="150" height="150">
                        </div>
                    </div>
                    <div class="card sticky-top">
                        <div class="card__body card__body--name">
                            <h4><%= users.name %> </h4>
                        </div> 
                    </div>
                    <div class="card">
                        <div class="card__body">
                            <p class="card__introduce">Giới thiệu</p>
                            <div class="card__info-intro">
                                <i class="fas fa-briefcase"></i> <span>Lớp: 18050303</span><br>
                                <i class="fas fa-briefcase"></i> <span>Khoa: Công nghệ thông tin</span><br>
                                <!-- <i class="fas fa-birthday-cake"></i> <span>Năm sinh: 01/01/2000</span><br>
                                <i class="fas fa-map-marker-alt"></i> <span>Đến tại: Bình Thuận</span><br>
                                <i class="fab fa-facebook-f"></i> <span>Facebook cá nhân:<a href="https://www.facebook.com/"><b>https://www.facebook.com/</b></a></span> -->
                                <button type="button" onclick="location.href='#'">Chỉnh sửa thông tin cá nhân</button>
                            </div>
                        </div>
                    </div>
                    <div id="load_data"></div>
                    <div id="load_data_message"></div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
    
</body>

</html>
